<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=504323752911178";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h1>Flowers</h1>
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<img src="/assets/flowers1.jpg">
</div>
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<img src="/assets/flowers2.jpg">
</div>
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<img src="/assets/flowers3.jpg">
</div>

<div class="fb-comments" data-href="http://waynesgarden.herokuapp.com/flowers" data-width="470" data-num-posts="2"></div>