<h1>Peppers</h1>
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<img src="/assets/peppers1.jpg">
</div>
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<img src="/assets/peppers2.jpg">
</div>
