@font-face {
    font-family: 'danielblack';
    src: url('/assets/daniel-black-webfont.woff2') format('woff2'),
         url('/assets/daniel-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'danielbold';
    src: url('/assets/daniel-bold-webfont.woff2') format('woff2'),
         url('/assets/daniel-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'danielregular';
    src: url('/assets/daniel-regular-webfont.woff2') format('woff2'),
         url('/assets/daniel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}