img {
	max-width: 100%;
	max-height: 50%;
	margin-top: -70px;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0px;
	background: url('/assets/green_cup.png');
}

.navbar .navbar-brand {
	font-family: 'danielbold', sans-serif;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: url('/assets/green_cup.png');
}

.navbar .navbar-right {
	font-family: 'danielbold', sans-serif;
}

.navbar .dropdown-menu {
	background: url('/assets/green_cup.png');
}

body {
  background: url('/assets/cork-wallet.png');
}

h1, h2 {
	font-family: 'danielbold', sans-serif;
	text-align: center;
}