.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #fff;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
}

.booyah-box img {
	max-width: 100%;
	max-height: 100%;
}

.booyah-box a {
	font-family: 'santanaregular', sans-serif;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0px;
	background: url('/assets/green_cup.png');
}

.navbar .navbar-brand {
	font-family: 'danielbold', sans-serif;
	color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: url('/assets/green_cup.png');
}

.navbar .navbar-right {
	font-family: 'danielbold', sans-serif;
	color: white;
}

.navbar-default .navbar-nav > li > a {
    color: #F9F9F9;
}

.navbar .dropdown-menu {
	background: url('/assets/green_cup.png');
}

.dropdown-menu > li > a {
	color: white;
}

body {
  background: url('/assets/cork-wallet.png');
}

h1 {
	font-family: 'santanabold', sans-serif;
	text-align: center;
}

h2 {
	font-family: 'santanaregular', sans-serif;
	text-align: center;
}

.clr {
	clear: both;
}

label {
	font-family: 'santanabold', sans-serif;
}

.btn {
	border-radius: 0;
	font-family: 'santanaregular', sans-serif;
}

.fb-comments {
	align-items: center;
}